@tailwind base;
@tailwind components;
@tailwind utilities;

/* Safe area padding for iOS notches etc */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* Animations */
@keyframes grow {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0%);
  }
}

.slide-up {
  animation: slide-up .4s forwards cubic-bezier(0.215, 0.610, 0.355, 1);
}

.grow {
  animation: grow .3s forwards cubic-bezier(0.445, 0.05, 0.55, 0.95);
}